* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins", serif;
}

:root {
    --text-color: rgb(253, 216, 253);
    --background-color-light: rgba(238, 197, 255, 0.241);
    --background-color-dark: rgba(128, 0, 128, 0.204);
}

body {
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.leaderboard-container {
    width: 80vw;
    max-width: 600px;
    height: auto;
    background-color: var(--background-color-light);
    align-items: center;
    justify-content: center;
    margin: auto;
    color: var(--text-color);
    display: none;
}
.top-3 {
    background-color: var(--background-color-dark);
    padding: 1.5rem;
}
.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-third {
    display: flex;
    gap: 3rem;
    text-align: center;
    justify-content: center;
}

.fourthPlace-andSoOn {
    background-color: var(--background-color-dark);
}
.players-List {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 2.5rem;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
    background-color: var(--background-color-light);
}

.top-players {
    background-color: var(--background-color-dark);
    border-radius: 20px;
    padding: 0.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .second-third {
      gap: 5rem;
    }
  
}
@media (min-width: 1024px) {
  .second-third {
    gap: 7rem;
  }
}


/* Start Section */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(153, 130, 175);
}

header {
  width: 100%;
  text-align: center;
  padding: 0rem;
  background-color: #EC6EAD;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start_section {
  border: 2px solid #000;
  margin: 5vh;
  padding: 1rem;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  
}

.start_h2 {
  margin: 2rem 0rem;
  padding: 5px 25px;
  background-color: hsl(240, 40%, 70%);
  position: relative;
  right: 30px;
  box-shadow: 2px 2px 5px #000;
  color: #fff;
}

.start_input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  margin-bottom: 2rem;
}

.start_button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: hsl(240, 40%, 70%);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.start_button:hover {
  background-color: hsl(240, 40%, 65%);
}

.question_counter {
  color: hsl(29, 77%, 73%);
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.6);
  margin-bottom: 1rem;
}

.questiondiv{
  display: none;
  flex-direction: column;
  align-items: center;
}

.timer {
  width: 80vw;
  max-width: 400px;
  height: 20px;
  background-color: #ffffff3f;
  margin-bottom: 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  overflow: hidden;
}

.timer_inside {
  width: 100%;
  height: 20px;
  background: linear-gradient(90deg, rgb(161, 55, 55) 0%, rgb(235, 119, 69) 50%, hsl(29, 77%, 60%) 100%);
  /* background-color: hsl(29, 77%, 73%); */
  animation-name: timing-bar;
  animation-duration: 10s;
  animation-timing-function: linear;
}

@keyframes timing-bar{
    from {width: 100%;}
    to {width: 0%;}
}

.question_section {
  border: 2px solid #000;
  padding: 2rem 1rem 2rem 1rem;
  width: 90vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
}

.question_h2 {
  margin: 1rem 0rem;
  padding: 5px 25px;
  background-color: rgb(143, 143, 207);
  position: relative;
  right: 30px;
  box-shadow: 2px 2px 5px #000;
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
}

.question {
  width: 100%;
}

.answerBox {
  background-color: rgba(238, 238, 238, 0.45);
  /* width: 90%; */
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  list-style: none;
  margin: 1rem;
}

.answerBox:hover {
  background-color: rgba(238, 238, 238, 0.6);
}

.question_button {
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: 1rem 5rem;
  border-radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: hsl(29, 77%, 60%);
  color: #fff;
  box-shadow: 2px 2px 5px hsl(0, 0%, 0%);
  border: none;
  cursor: pointer;
}

.question_button:hover {
  background-color: hsl(29, 77%, 55%);
}


/* emils css */
.emilsbilder{
  width: 130px;
  border-bottom: 1px solid black;
  }
  
  .allcards{
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  gap: 20px;
  height: 500px;
  margin: 100px 110px 0;
  
  }

    .difficultlevel{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    gap: 20px;
    height: 500px;
    margin: 100px 110px 0;
    
    
    
    }
  
  .cardoneandtwo, .cardtwoandfour{
      border: 1px solid black;
      border-radius: 10%;
      
      
  }
  
  .hej{
      display: flex;
      justify-content: center;
      
  }
  
  .cardtwoandfour{
      position: relative;
      
  }
  
  .cardoneandtwo{
  position: relative;
  bottom: 50px;
  }

  .newOpacity {
    opacity: 65%;
    border: 1px solid black;
  }
  .highOpacity {
    opacity: 100%;
  }


  @media (min-width: 768px) {
    
  }

  @media (min-width: 1024px) {

    .question_section {
      
      padding: 0rem;
      width: 90vw;
      max-width: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: transparent;

      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    .question_h2 {
      padding: 10px 25px;
      margin: 0rem 3rem 2rem 3rem;
      position: static;
      box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.8);
      font-size:1.5rem;
      text-shadow: 1px 1px 5px #000;
      width:fit-content;
      text-align: center;
    }

    .question {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 5vh;
      column-gap: 10vw;
      margin-bottom: 2rem;
    }

    .answerBox {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(238, 238, 238, 0.45);
      padding: 0rem 0rem;
      border-radius: 5px;
      cursor: pointer;
      list-style: none;
      margin: 0rem;
      box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
      width: 40%;
      max-width: 500px;
      min-height: 8rem;
      font-size: 1.5rem;
    }

    .timer {
      width: 600px;
      max-width: none;
      height: 30px;
    }
    
    .timer_inside {
      width: 100%;
      height: 30px;
    }

    .question_button {
      font-size: 1.5rem;
    }
  }